.logo{
    display: flex;
    justify-content: center;
}

img{
    width: 100px;
    height: auto;
    margin: auto;
}


@media (max-width: 800px){
    img{
        margin: auto;
    }
}

.displayNone{
    display: none;
}