img{
    margin: 20px;
    width: 100px;
    height: auto;
}


@media (max-width: 800px){
    .logo{
        display: flex;
        justify-content: center;
    }

    img{
        margin: 20px auto;
    }
}

.displayNone{
    display: none;
}