.initial-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.initial-page-container{
    margin-bottom: 100px;
}

img.logo{
    margin-bottom: 195px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    padding: 24px 65px;
    border-radius: 12px;
    border: 3px solid #FFEF61;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

button ion-icon{
    margin-left: 10px;
    color: #FFEF61;
}

@media (max-width: 800px){
    img.logo{
        margin-bottom: 130px;
    }
}