.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



.card{
  background-color: white;
  height: 575px;
  width: 392px;
  max-width: 100%;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  font-family: 'Roboto';
}